<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body">

    <div class="folder-container">
        <input id="input-file" type="file" multiple/>
    </div>


  </div>
</div>

<script type="text/javascript" src="/js/dashboard.js"></script>
