<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body">


    <div class="project-time-line col-md-12 ">
      <div class="area-board">
        <h2>Project Time Line Review</h2>
        <div class="project-img-container">
          <img src="/img/project-time-line.png"/>
        </div>
      </div>


    </div>


    <div class="col-md-4 todo-list ">

      <div class="area-board col-md-12">
        <h2>Today's To-Do List</h2>

        <div class="todo-area ">

          <div class="col-md-12 js-hook-todo-content">

          </div>

          <div class="col-md-12 todo-btn-area text-center">
            <button>reply</button>
            <button>resolve</button>
          </div>

        </div>
      </div>

    </div>

    <div class="hot-search-area col-md-8 ">
      <div class="area-board">
        <h2>Hot Search</h2>
        <div class="search-img">
          <img src="/img/hotsearch.png">
        </div>
      </div>
    </div>

    <div class="online-member col-md-8 ">
      <div class="area-board">
        <h2>Online Team Members</h2>
        <div class="online-team-area">
          <div class="online-david"><img  src="/img/david.png"/></div>
          <img src="/img/online-team-member.png">
        </div>

      </div>
    </div>

    <div class="folder-container" style="display: none">
      <div>
        <input id="input-file" type="file" multiple/>
        <input type="button" value="upload" id="upload">
      </div>
    </div>


  </div>
</div>

<script type="text/javascript" src="/js/dashboard.js"></script>
