<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">


    <!-- file area -->
    <div class="file-area col-md-12">
      <div class="file-content" style="width: 70%;">

      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-3 pull-right" style="position: absolute; right: 0; width: 25%;height: 100%;">
        <div id="commentBar"></div>
        <label>Comment:</label>
        <input id="commentContent" type="text" />
        <button id="sendComment">submit</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="/js/fileContent.js"></script>
