<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">
    <div class="col-md-12">
      <div class="col-md-3 pull-right">

        bar

      </div>
    </div>

    <!-- file area -->
    <div class=" col-md-12">

    </div>

  </div>
</div>

<script type="text/javascript" src="/js/fileContent.js"></script>
