
<div class="project-bar" >
  <div class="col-md-12">
    <div class="col-md-5" >
      <div id="proj-bar">
        something
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <img src="/img/sharethis-xxl.png" class="project-bar-icon js-hook-share-btn"/>
      <img src="/img/history_icon.png" class="project-bar-icon"/>
      <img src="/img/setting_icon.png" class="project-bar-icon"/>
    </div>
  </div>
</div>


<div class="share-weChart text-center" style="display: none">

  <div class="share-mask">

  </div>

  <img src="/img/wechat_selected.png" class="share-img" />

  <img src="/img/wechat_select_list.png" class="share-img-list" />

</div>

<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">
    <div class="row" style="width: 40%;">

      <img src="/img/tag larson.png" class="col-md-3 col-lg-3">
      <img src="/img/tag android.png" class="col-md-3 col-lg-3">
      <img src="/img/tag persona.png" class="col-md-3 col-lg-3">
      <img src="/img/add new tag.png" class="col-md-3 col-lg-3">

    </div>
    <div class="row" style="margin-top: 60px;">
      <div style="font-size: initial;" class="col-md-7 col-lg-7">
        PROJECT ONE
      </div>
      <div style="margin-top: 30px;">
        <img src="/img/progress.png" class="col-md-7 col-lg-7">
      </div>
    </div>

    <!-- file area -->
    <div class="file-area col-md-8">
      <div class="file-content" style="width: 70%;">

      </div>
    </div>

    <div class="col-md-4 comment-area pull-right">
      <div>
        <button class="btn btn-default js-hook"></button>
        <button class="btn btn-default"></button>
      </div>
      <div>
        <div id="commentBar">
          <div class="comment-item">
            <div class="col-md-12">
              Feb 12/2017
            </div>
            <div>
              content
            </div>

          </div>
        </div>
        <label>Comment:</label>
        <input id="commentContent" type="text"/>
        <button id="sendComment" class="btn btn-default">submit</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="/js/fileContent.js"></script>
