

<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body text-center">

    <div>
      <div id="container" style="width: 75%;">
        <canvas id="barChart"></canvas>
      </div>

      <div id="canvas-holder" style="width:40%">
        <canvas id="chart-area" />
      </div>

    </div>


  </div>
</div>

<script type="text/javascript" src="/components/chart.js/dist/Chart.bundle.js"></script>
<script type="text/javascript" src="/js/metrics.js"></script>



