
<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body">
    <div class="folder-container col-md-8">

      <div class="card">
        <div class="card-block">
          This is some text within a card block.
        </div>
      </div>

    </div>
    <div class="folder-history col-md-4">
          something
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>
