<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">
    <div class="col-md-12">
      <div class="col-md-3" style="height: 30px;background-color: beige;" id="proj-bar">

      </div>
    </div>
    <!-- folder area -->
    <div class=" col-md-12">
      <div class="col-md-12">
        <h2>Folders:</h2>
      </div>
      <div class="folder-container col-md-12">

      </div>
    </div>


    <!--file area -->
    <div class=" col-md-12">
      <div class="col-md-12">
        <h2>Files:</h2>
      </div>
      <div class="file-container col-md-12">

      </div>
    </div>

    <div class="member-chart" style="display: none">
      <div class="mask">

      </div>

      <img id="setting-btn" style="position: fixed;
    bottom:180px;
    right:0;
    width: 70px;" src="/img/setting.png"/>

      <img id="new-folder-btn" data-target="#addFolderDia" data-toggle="modal" style="position: fixed;
    bottom:120px;
    right:0;
    width: 70px;" src="/img/new-folder.png"/>

      <img id="upload-file-btn" style="position: fixed;
    bottom:60px;
    right:0;
    width: 70px;" src="/img/upload-file.png"/>

      <img id="fab-btn-mask" style="position: fixed;
    bottom:0;
    right:0;
    width: 70px;" src="/img/fab.png"/>

    </div>





    <img id="fab-btn" style="position: fixed;
    bottom:0;
    right:0;
    width: 70px;" src="/img/fab.png"/>

    <input id="input-file" style="display: none" type="file" multiple>

  </div>

  <div id="addFolderDia" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          New Folder
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row" style="margin-bottom:0;">
              <div class="modal-body">
                <form class="container-fluid form-horizontal" id="form-addFolder">
                  <div class="form-group">
                    <div class="col-sm-8">
                      <label >Folder Name:</label>
                      <input id="folder-name-text" class="form-control text-content" type="text" name="nText" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="addFolder" class="btn btn-primary">Add</button>
        <button data-dismiss="modal" class="btn cancel-btn">Close</button>
      </div>
    </div>
  </div>

</div>
</div>

<script type="text/javascript" src="/js/projectDetail.js"></script>
