<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">
    <div class="col-md-12">
      <div class="col-md-3 pull-right">

        bar

      </div>
    </div>
    <!-- folder area -->
    <div class=" col-md-12">
      <div class="col-md-12">
        <h2>Folders:</h2>
      </div>
      <div class="folder-container col-md-12">

      </div>
    </div>


    <!--file area -->
    <div class=" col-md-12">
      <div class="col-md-12">
        <h2>Files:</h2>
      </div>
      <div class="file-container col-md-12">

      </div>
    </div>

    <div id="mask-chart">
      <div class="mask">


      </div>
    </div>

    <img>

    <img id="fab-btn" style="position: fixed;
    bottom:0;
    right:0;
    width: 70px;" src="/img/fab.png"/>
    <input id="input-file" style="display: none" type="file" multiple>
    <img id="upload-file-btn" style="position: fixed;
    bottom:60px;
    right:0;
    width: 70px;" src="/img/upload-file.png"/>
    </input>


  </div>

</div>
</div>

<script type="text/javascript" src="/js/projectDetail.js"></script>
