<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body project-detail-area">
    <div class="col-md-12">
      <div class="col-md-3 pull-right">

        bar

      </div>
    </div>
    <!-- folder area -->
    <div class=" col-md-12">
      <div class="col-md-12">
        <h2>Folders:</h2>
      </div>
      <div class="folder-container col-md-12">
        <div class="col-md-4">
          <div class="card single-project">
            <div class="card-block project-folder-area">
              <div class="col-md-4 folder-icon"><img  src="/img/foldericon.png" /></div>
              <div class="col-md-8"><h4 class="card-title folder-title">Project one</h4></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--file area -->


  </div>
</div>

<script type="text/javascript" src="/js/projectDetail.js"></script>
