

<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body" style="display:none">

    <div id="loader">rendering...</div>
    <div id="parent"></div>
  </div>



</div>

<script src="/plugin/insights/build/insights.standalone.js"></script>
<script type="text/javascript" src="/js/tags.js"></script>

