
<!-- Main Content -->
<div class="container-fluid">




  <div class="side-body" >

    <div class="col-md-12 tag-area">

      <div class="col-md-12 tag-chart">
        <img src="/img/tag1.png" class="js-hook-tag1 tag-img">
        <img src="/img/tag2.png" class="js-hook-tag2 tag-img">
      </div>
      <div class="col-md-12 tag-doc">
        <img src="/img/tag_doc.png" class="js-hook-tag-doc tag-img">
      </div>

    </div>
    <div id="loader">rendering...</div>
    <div id="parent" style="display:none"></div>
  </div>



</div>

<script src="/plugin/insights/build/insights.standalone.js"></script>
<script type="text/javascript" src="/js/tags.js"></script>

