
<!-- Main Content -->
<div class="container-fluid">


  <div class="col-md-12 tag-area">

    <div class="col-md-12 tag-chart">
      <img src="/img/">
    </div>
    <div class="col-md-12 tag-doc">

    </div>

  </div>


  <div class="side-body" style="display:none">

    <div id="loader">rendering...</div>
    <div id="parent"></div>
  </div>



</div>

<script src="/plugin/insights/build/insights.standalone.js"></script>
<script type="text/javascript" src="/js/tags.js"></script>

