

<!-- Main Content -->
<div class="container-fluid">
  <div class="side-body">

    <div class="row">

      <div style="position: relative; float: left"  class="col-lg-4">
      <img src="/img/todo-hoding.png" style="float: left; width: 100%;">
        <div style="
        position: absolute;
        top: 75px;
        left: 45px;
        font-size: 30px;
        color: white;
        font-family: cursive;">Hoding</div>
      </div>
      <div style="position: relative"  class="col-lg-4">
      <img src="/img/todo-doing.png" style="float: left; width: 100%;">
        <div style="
        position: absolute;
        top: 75px;
        left: 45px;
        font-size: 30px;
        color: white;
        font-family: cursive;">Doing</div>
      </div>
      <div style="position: relative"  class="col-lg-4">
      <img src="/img/todo-done.png" style="float: left; width: 100%;">
        <div style="
        position: absolute;
        top: 75px;
        left: 45px;
        font-size: 30px;
        color: white;
        font-family: cursive;">Done</div>
      </div>

      <div style="display: none">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Todos</h1>
          <input type="text" class="form-control add-todo" placeholder="Add todo">
          <button id="checkAll" class="btn btn-success">Mark all as done</button>

          <hr>
          <ul id="sortable" class="list-unstyled">
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" />Take out the trash</label>
              </div>
            </li>
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" />Buy bread</label>
              </div>
            </li>
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" />Teach penguins to fly</label>
              </div>
            </li>
          </ul>
          <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> Items Left
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="todolist">
          <h1>Already Done</h1>
          <ul id="done-items" class="list-unstyled">
            <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

          </ul>
        </div>
      </div>
      </div>
    </div>


  </div>

  <div class="member-chart" style="display: none">
    <div class="mask">

    </div>

    <img id="setting-btn" style="position: fixed;
    bottom:180px;
    right:0;
    width: 70px;" src="/img/setting.png"/>

    <img id="new-folder-btn" data-target="#addFolderDia" data-toggle="modal" style="position: fixed;
    bottom:120px;
    right:0;
    width: 70px;" src="/img/new-folder.png"/>

    <img id="upload-file-btn" style="position: fixed;
    bottom:60px;
    right:0;
    width: 70px;" src="/img/upload-file.png"/>

    <img id="fab-btn-mask" style="position: fixed;
    bottom:0;
    right:0;
    width: 70px;" src="/img/fab.png"/>

  </div>





  <img id="fab-btn" style="position: fixed;
    bottom:0;
    right:0;
    width: 70px;" src="/img/fab.png"/>

  <input id="input-file" style="display: none" type="file" multiple>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/todo.js"></script>

